/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Sans+3:ital@1&display=swap');

/* VARIABLE CSS */
:root {
    --header-height: 3rem;

    /*============ Colors ============*/
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
    --hover-color: silver;

    /*============ Font and typography ============*/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .815rem;

    /*============ Font weight ============*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*============ Margines ============*/
    --mb-1: .5rem;
    --mb-2: .1rem;
    --mb-3: 1.5rem;

    /*============ Z Index ============*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*============ Base ============*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*============ Variables Dark theme ============*/
body.dark-theme {
    --title-color: #f2f2f2;
    --text-color: #bfbfbf;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
    --hover-color: white
}

/*============ Button Dark/Light ============*/
.change-theme {
    position: absolute;
    right: 0;
    top: 2.2rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.change-theme:hover {
    color: var(--title-color);
    transform: scale(1.5);
}

/*============ Font size variables to scale cv ============*/
body.scale-cv {
    --h1-font-size: .938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .875rem;
    --normal-font-size: .813rem;
    --small-font-size: .75rem;
    --smaller-font-size: .688rem;
}

.scale-cv .home__img {
    filter: grayscale(0%);
}


/*============ Generate PDF button ============*/
.generate-pdf {
    display: inline-block;
    position: absolute;
    top: 2.2rem;
    left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

}

.generate-pdf:hover {
    color: var(--title-color);
    transform: scale(1.5);
}

/*============ Classes modified to reduce size and print on A4 sheet ============*/

.scale-cv .last-modified_wrapper {
    display: none;
}

.scale-cv .change-theme,
.scale-cv .generate-pdf {
    display: none;
}

.scale-cv .skills_wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2rem;
}

.scale-cv .ineterests__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.scale-cv #portfolio {
    display: none !important;
}

.scale-cv .bd-container {
    max-width: 800px;
}

.scale-cv .section {
    padding: 1.5rem 0 .80rem
}

.scale-cv .section-title {
    margin-bottom: .5rem
}

.scale-cv .resume__left,
.scale-cv .resume__right {
    padding: 0 1rem;
    box-sizing: border-box;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
}

.scale-cv .resume__right {
    padding-right: 10rem;
}

.scale-cv #area-cv {
    grid-template-columns: 300px 1fr;
}

.scale-cv .home__img {
    width: 90px;
    height: 90px;
}

.scale-cv .home__container {
    gap: 1.5rem;
}

.scale-cv .home__address,
.scale-cv .social__container {
    gap: .75rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon {
    font-size: 1rem;
}

.scale-cv .education__container,
.scale-cv .experience__container,
.scale-cv .certificate__container {
    gap: 1rem;
}

.scale-cv .interests__content,
.scale-cv .skills__item {
    gap: 0.1rem;
}

.scale-cv .education__time,
.scale-cv .experience__time {
    padding: .5rem;
}

.scale-cv .home__data {
    gap: .25rem;
}

.scale-cv .education__rounder,
.scale-cv .experience__rounder {
    width: 11px;
    height: 11px;
    margin-top: .22rem
}

.scale-cv .education__line {
    width: 1px;
    height: 130%;
    transform: translate(5px, 0);
}

.scale-cv .experience__line {
    width: 1px;
    height: 140%;
    transform: translate(5px, 0);
}

.scale-cv .education__data,
.scale-cv .experience__data {
    gap: .25rem;
}

.scale-cv .skills__name {
    margin-bottom: var(--mb-1);
}


body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color-light)
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: 100%;
}

/*============ Class CSS ============*/
.section {
    padding: 1.5rem 0;
}

.section-title {
    margin-bottom: var(--mb-3);

    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
}

/*============ Layout ============*/
.bd-container {
    max-width: 1200px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);

    z-index: var(--z-fixed);
    transition: .3s;
}

/*============ Navigation ============*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

@media screen and (max-width: 968px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;

        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
        border-radius: 1rem 1rem 0 0;

        z-index: var(--z-fixed);
        transition: .3s;
    }
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__item {
    text-align: center;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--title-color)
}

.nav__icon {
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

/*============ Show menu ============*/
.show-menu {
    bottom: var(--header-height);
}

/*============ Active menu link ============*/
.active-link {
    color: var(--title-color);
}

/*============ HOME ============*/
.home {
    position: relative;
}

.home__container {
    gap: 3rem
}

.home__data {
    gap: .5rem;
    text-align: center;
    /* margin-bottom: var(--mb-3); */
}

.home__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    justify-self: center;

    margin-bottom: var(--mb-1);
    border: 3px solid white;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);

    user-select: none;
    filter: grayscale(100%);
}

.home__img:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    filter: grayscale(0%);
    transform: scale(1.05);
}

.home__title {
    font-size: var(--h1-font-size);
}

.home__profession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.home__address {
    gap: 1rem;
}

.home__information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.home__icon {
    font-size: 1.25rem;
    margin-right: .25rem;
}

.home__button-movil {
    display: inline-block;
    margin-top: var(--mb-3);
    padding: 1rem 2rem;
    border: 2px solid var(--text-color);
    border-radius: .25rem;

    color: var(--title-color);
    transition: .3s;
    font-weight: var(--font-medium);
}

.home__button-movil:hover {
    background-color: var(--text-color);
    color: var(--container-color)
}

/*============ SOCIAL ============*/

.social__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.social__link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.social__link:hover {
    color: var(--title-color);
}

.social__icon {
    font-size: 1.2rem;
    margin-right: .25rem
}

/*============ ABOUT ME ============*/
.about-me__description {
    text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
    page-break-inside: auto;
    hyphens: auto;
    line-height: 1.6;
    margin: 0;
    padding: 0.5rem;

    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;

    hyphens: auto;
    text-align: justify;
}

.profile__description {
    text-align: justify;
    padding: 0.5rem;
}

/*============ EDUCATION AND EXPERIENCE ============*/
.education__content,
.experience__content {
    display: flex;
}

.education__time,
.experience__time {
    padding-right: 1rem;
}

.education__rounder,
.experience__rounder {
    position: relative;
    display: block;

    width: 16px;
    height: 16px;
    margin-top: .25rem;
    background-color: var(--text-color-light);
    border-radius: 50%;
}

.education__line,
.experience__line {
    display: block;
    width: 2px;
    height: 115%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
}

.education__data,
.experience__data {
    gap: .5rem;
}

.education__title,
.experience__title {
    font-size: var(--h3-font-size);
}

.education__studies,
.experience__company {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.education__year {
    font-size: var(--small-font-size);
}

/*============ SKILLS AND LANGUAGES ============*/

#skills {
    page-break-before: always;
    /* Force the section to start on a new page */
}

.languages__content {
    grid-template-columns: repeat(2, 1fr)
}

.skills_wrapper {
    grid-template-columns: repeat(4, 1fr)
}

.skills__content,
.languages__content {
    gap: 0;
}

.skills__name,
.languages__name {
    display: flex;
    align-items: center;
}

.skills__circle,
.languages__circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: .75rem;
    background-color: var(--text-color);
    border-radius: 50%;
}

.skills__data {
    font-size: var(--font-semi-bold);
    color: var(--title-color);
}

.skills__data h4 {
    margin: 0px;
    margin-bottom: var(--mb-1);
}

.skills__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    transition: transform 0.3s ease, color 0.3s ease;
}

.skills__icon {
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.skills__item:hover .skills__icon {
    transform: scale(1.2);
    color: var(--hover-color);
}

.skills__item:hover .skills__name {
    color: var(--hover-color);
}

/*============ CERTIFICATES ============*/
.certificate__title a {
    margin-bottom: var(--mb-1);
    font-size: var(--h3-font-size);
    color: var(--text-color);

    transition: all .3s ease;
}

.certificate__title a:hover {
    font-size: large;
    color: var(--hover-color);
}

/*============ PORTFOLIO ============*/

.works__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 2rem;
    margin-top: var(--mb-2);
}

.works__item {
    position: relative;
    min-width: 170px;
    max-width: 370px;
    height: 270px;
    cursor: pointer;
}

.works__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__project {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.works__warning {
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 0, 0, 0.7);

    color: var(--container-color);
    font-size: var(--normal-font-size);
    z-index: 2;
}

.works__item:hover .works__data {
    opacity: 1;
    bottom: 0;
    pointer-events: auto;
}

.works__link {
    display: inline-flex;
    font-size: var(--h2-font-size);
    background-color: silver;
    padding: .25rem;
    border-radius: .25rem;
    margin: 10px;
    color: black;

    transition: all 0.3s ease-in-out;
}

.works__link:hover {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: #4b4848;

    transform: scale(1.2);
}

.works__title {
    font-size: var(--h1-font-size);
    color: var(---wh);
    justify-content: center;
    margin-top: 5px;
}

.works__data {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    bottom: -30%;

    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;

    color: white;
    text-align: center;
    font-size: 0.9rem;

    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.works__data p {
    margin: 0.5rem 0;
    font-size: var(--normal-font-size);
}

.works__technologies {
    margin: 0.5rem 0;
    font-weight: bold;
    color: #ffd700;
}

.works__status {
    margin-top: 0.25rem;
    font-style: italic;
    color: #d3d3d3;
}

/*============ INTERESTS ============*/
.interests__container {
    grid-template-columns: repeat(4, 1fr);
    margin-top: var(--mb-2);
}

.interests__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.interests__icon {
    font-size: 2rem;
    margin-bottom: .25rem;
}


.interests__icon:hover,
.interests__name:hover {
    color: var(--hover-color);
}


/*============ Last modified ============*/

.last-modified_wrapper {
    position: absolute;
    bottom: 0px;
    left: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:center ;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: var(--normal-font-size);
    color: var(--text-color-light);
}

/* Scroll top */
.scrolltop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    right: 1rem;
    bottom: -20%;
    padding: .3rem;
    background-color: var(--container-color-alt);
    border-radius: .4rem;

    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden
}

.scrolltop__icon {
    font-size: 1.2rem;
    color: var(--text-color)
}

.show-scroll {
    visibility: visible;
    bottom: 5rem;
}

/*============ MEDIA QUERIES ============*/
/* For small devices, menu two columns */
@media screen and (max-width: 800px) {

    .languages__content {
        grid-template-columns: repeat(3, auto)
    }

    .interests__container {
        grid-template-columns: repeat(2, auto);
        margin-top: var(--mb-2);
    }

    .nav__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem
    }

    .works__container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }

    /* .works__img {
        min-width: 200px;
        height: 200px;
    } */

    .works__item {
        height: 300px;
    }

    .skills_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Classes modified for Large screen size */
@media screen and (min-width: 900px) {
    body {
        margin: 3rem 0;
    }

    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .l-header,
    .scrolltop {
        display: none;
    }

    .resume {
        display: grid;
        grid-template-columns: 330px 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    }

    .resume__left {
        position: relative;
        background-color: var(--container-color-alt);
    }

    .resume__left,
    .resume__right {
        padding: 0 1.5rem;
    }

    .section-title,
    .profile__description {
        text-align: initial;
    }

    .home__container {
        gap: 1.5rem
    }

    .home__button-movil {
        display: none;
    }

    .languages__content {
        grid-template-columns: repeat(3, max-content);
        column-gap: 3.5rem;
    }

    .works__container {
        justify-content: center;
        align-items: center;
    }

    .languages__circle:hover,
    .languages__name:hover {
        color: var(--hover-color);
    }

    .ineterests__container {
        grid-template-columns: repeat(4, max-content);
        column-gap: 3.5rem;
    }

    @media screen and (max-width: 1200px) {
        .works__container {
            grid-template-columns: repeat(1, 1fr)
        }

        .works__img {
            min-width: 200px;
        }
    }
}

.section {
    page-break-inside: auto;
}

.section-title {
    page-break-inside: avoid;
}

p {
    page-break-inside: auto;
}